@import url(/styles.css);

body div.form-container form {
   display: flex;
   justify-content: center;
   align-items: center;
   
}
div.form-container h2 {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
} 

body div.form-container form div.input-container input { 
    width: 260px;
    height: 40px;
    margin: 20px 0 50px;
    border-radius: 5px;
    border: 0px;
}

input ::placeholder{
    margin-left: 555px;
}


body div.form-container form div.button-container button.btn {
    width: 260px;
    height: 40px;
    /* background-color: var(--celeste); */
    
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

button.btn:hover {
    transform: scale(1.01);
    background-color: #0022AA;
    color: white;
}



@media (min-width: 768px) {
    body div.form-container form div.input-container input { 
        width: 708px;
    }
    body div.form-container form div.button-container button.btn {
        width: 708px;
    }
}

